.realMain {
	gap: 24px;
	padding: 26px 30px;
	width: 70%;
	left: 30px;
}
main {
	background-color: #e6eff4;
	display: flex;
	flex-direction: column;
	color: #3a3a3a;
	position: relative;
	width: 100%;
}
.redpart {
	display: flex;
	gap: 12px;
    padding: 12px;
	background-color: #f5c2cd;
	border-left: 5px solid #bc5c70;
}
.tabimg {
	width: 59px;
	height: 60px;
}
.boldtxt {
	font-weight: bold;
}
.entitypart {
	display: flex;
	flex-direction: column;
	width: 100%;
    gap: 12px;
}
.bothtxt {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
hr {
	color: #3a3a3a;
}
.hr {
	border: 1px solid #3a3a3a;
}
.listentity {
	display: flex;
	gap: 12px;
	flex-direction: column;
}
input {
	border: none;
}
label {
	display: flex;
	background-color: white;
	align-items: center;
	color: #dbdbdb;
	padding: 8px;
    gap: 12px;
	border-radius: 8px;
}
.statsentity {
	gap: 24px;
	display: grid;
	grid-template-areas:
		"c t"
		"h a"
		"d d"
}
.classifie {
	grid-area: "c";
}
.type {
	grid-area: "t";
}
.health {
	grid-area: "h";
}
.armor {
	grid-area: "a";
}
.damage {
	grid-area: "d";
}
.searchentity {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.slc {
	display: flex;
	padding: 6px;
	border: none;
    width: 100%;
	border-radius: 4px;
}
.cls {
    display: flex;
    padding: 6px;
    border: none;
    width: 67%;
    border-radius: 4px;
}
.stats {
	padding: 8px;
	border-radius: 4px;
	width: 80%;
}
.stone {
	height: 255vh;
}
.srcflex {
    display: flex;
    justify-content: center;
}
.btnsrc {
	border: none;
	padding: 12px 36px;
	background-color: #4f8c69;
	border-radius: 99px;
	width: max-content;
	color: white;
	font-size: 20px;
    font-weight: bold;
}
.noentity {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
}
.enty {
    font-weight: bold;
    font-size: 22px;
    color: #8C8C8C;
}
@media screen and (width > 850px) {
  .statsentity {
	display: grid;
	grid-template-areas:
		"c t h a d";
}
.entitypart {
    display: flex;
    flex-direction: row;
}
.mobsimg {
    width: 313px;
    height: 266px;
    object-fit: contain;
}
.bothtxt {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}
@media screen and (width > 1440px) {
 
}