.realMain {
	background-color: #e6eff4;
	display: flex;
	flex-direction: column;
	color: #3a3a3a;
	gap: 20px;
    padding: 20px;
}
main {
    position: relative;
    width: 100%;
}
.mobsimg {
	width: 337px;
	height: 297px;
    width: max-content;
}
.redpart {
	display: flex;
	gap: 12px;
	background-color: #f5c2cd;
	border-left: 5px solid #bc5c70;
}
.tabimg {
	width: 59px;
	height: 60px;
}
.boldtxt {
	font-weight: bold;
}
.entitypart {
	display: flex;
	flex-direction: column;
	width: 100%;
}
hr {
	color: #3a3a3a;
}
.hr {
	border: 1px solid #3a3a3a;
}
.listentity {
	display: flex;
	gap: 12px;
	flex-direction: column;
}
input {
	border: none;
}
label {
	display: flex;
	background-color: white;
	align-items: center;
    color: #DBDBDB;
	padding: 8px;
	border-radius: 8px;
}
.statsentity {
    gap: 12px;
	display: grid;
	grid-template-areas:
		"c t"
		"h a"
		"d";
}
.classifie {
	grid-area: "c";
}
.type {
	grid-area: "t";
}
.health {
	grid-area: "h";
}
.armor {
	grid-area: "a";
}
.damage {
	grid-area: "d";
}
.searchentity {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.slc {
    display: flex;

    padding: 6px;
    border: none;
    width: 40%;
    border-radius: 4px;
}
.stats {
    padding: 8px;
    border-radius: 4px;
}