.isOpen {
	background-color: #4f8c69;
	width: max-content;
	padding: 8px;
	border-radius: 8px;
	font-family: Rubik;
	font-weight: 700;
	font-style: Bold;
	font-size: 12px;
	color: white;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
}
.align {
	display: flex;
	gap: 12px;
	align-items: center;
}
span {
	font-weight: bold;
}
.special {
	display: flex;
	width: 100%;
	gap: 12px;
}
form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.coordonates {
	width: 100%;
}
.same {
	width: 33%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.spawn {
	width: max-content;

	font-weight: 700;
	font-style: Bold;
	font-size: 22px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #4f8c69;
	border: none;
	padding: 12px 48px;
	border-radius: 999999px;
}
.realMain {
	padding: 24px;
	gap: 24px;
	width: 80%;
}
h3 {
	font-weight: 500;
	font-style: Medium;
	font-size: 22px;
	color: #3a3a3a;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
}
hr {
	color: #3a3a3a;
}
table {
	border-collapse: collapse;
}
tr {
	background-color: #d9d9d9;
	border: 1px solid #8e8e8e;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
}
th {
	font-weight: 400;

	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
	color: #3a3a3a;
}
.placeholderDErien {
	background-color: white;
	border: 1px solid #8c8c8c;
	width: 100%;
	height: 130px;
}
.stone {
	height: 160vh;
}
.responsive {
	text-overflow: ellipsis;
}
h1 {
	font-family: Rubik;
	font-weight: 300;
	font-style: Light;
	font-size: 48px;

	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	vertical-align: middle;
	color: #3a3a3a;
}
h4 {
	font-family: Rubik;
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	color: #3a3a3a;
	line-height: 100%;
	letter-spacing: 0%;

	vertical-align: middle;
}
